// PADDING AND MARGIN
$padding-small: 12px;
$padding-medium: 24px;
$padding-large: 36px;

$margin-small: 12px;
$margin-medium: 24px;
$margin-large: 36px;

.padding-bottom-small {
  padding-bottom: $padding-small;
}

.padding-top-small {
  padding-top: $padding-small;
}

.padding-left-small {
  padding-left: $padding-small;
}

.padding-right-small {
  padding-right: $padding-small;
}

.padding-bottom-medium {
  padding-bottom: $padding-medium;
}

.padding-top-medium {
  padding-top: $padding-medium;
}

.padding-left-medium {
  padding-left: $padding-medium;
}

.padding-right-medium {
  padding-right: $padding-medium;
}

.padding-bottom-large {
  padding-bottom: $padding-large;
}

.padding-top-large {
  padding-top: $padding-large;
}

.padding-left-large {
  padding-left: $padding-large;
}

.padding-right-large {
  padding-right: $padding-large;
}

.margin-bottom-small {
  margin-bottom: $margin-small;
}

.margin-top-small {
  margin-top: $margin-small;
}

.margin-left-small {
  margin-left: $margin-small;
}

.margin-right-small {
  margin-right: $margin-small;
}

.margin-bottom-medium {
  margin-bottom: $margin-medium;
}

.margin-top-medium {
  margin-top: $margin-medium;
}

.margin-left-medium {
  margin-left: $margin-medium;
}

.margin-right-medium {
  margin-right: $margin-medium;
}

.margin-bottom-large {
  margin-bottom: $margin-large;
}

.margin-top-large {
  margin-top: $margin-large;
}

.margin-left-large {
  margin-left: $margin-large;
}

.margin-right-large {
  margin-right: $margin-large;
}

.margin-top-none {
  margin-top: 0 !important;
}

.margin-bottom-none {
  margin-bottom: 0 !important;
}

.margin-left-none {
  margin-left: 0 !important;
}

.margin-right-none {
  margin-right: 0 !important;
}

.margin-none {
  margin: 0 !important;
}

.padding-top-none {
  padding-top: 0 !important;
}

.padding-bottom-none {
  padding-bottom: 0 !important;
}

.padding-left-none {
  padding-left: 0 !important;
}

.padding-right-none {
  padding-right: 0 !important;
}

.padding-none {
  padding: 0 !important;
}