@import 'variables';

// COLORS
$pink1: #f2c9c9;
$pink2: #f29bab;
$pink3: #f48282;
$pink4: #733d3d;

$blue1: #0476d9;
$blue2: #0460d9;
$blue3: #044bd9;
$blue4: #0742f2;

$red1: #f24b4b;
$red2: #f22727;
$red3: #BF1F1F;
$red4: #731212;

$green1: #567d7d;
$green2: #3e5948;
$green3: #1d4a4a;
$green4: #213030;

$orange1: #f0b47f;
$orange2: #ff8f61;
$orange3: #cc714e;
$orange4: #804730;

$yellow1: #ffe14a;
$yellow2: #f2d22e;
$yellow3: #f2b807;
$yellow4: #f2a622;

$grey1: #f2f2f2;
$grey2: #b3b3b3;
$grey3: #737373;
$grey4: #454545;

$white: #ffffff;
$black: #111111;

.text-pink1 {
  color: $pink1;
}

.text-pink2 {
  color: $pink2;
}

.text-pink3 {
  color: $pink3;
}

.text-pink4 {
  color: $pink4;
}

.text-blue1 {
  color: $blue1;
}

.text-blue2 {
  color: $blue2;
}

.text-blue3 {
  color: $blue3;
}

.text-blue4 {
  color: $blue4;
}

.text-red1 {
  color: $red1;
}

.text-red2 {
  color: $red2;
}

.text-red3 {
  color: $red3;
}

.text-red4 {
  color: $red4;
}

.text-green1 {
  color: $green1;
}

.text-green2 {
  color: $green2;
}

.text-green3 {
  color: $green3;
}

.text-green4 {
  color: $green4;
}

.text-orange1 {
  color: $orange1;
}

.text-orange2 {
  color: $orange2;
}

.text-orange3 {
  color: $orange3;
}

.text-orange4 {
  color: $orange4;
}

.text-yellow1 {
  color: $yellow1;
}

.text-yellow2 {
  color: $yellow2;
}

.text-yellow3 {
  color: $yellow3;
}

.text-yellow4 {
  color: $yellow4;
}

.text-grey1 {
  color: $grey1;
}

.text-grey2 {
  color: $grey2;
}

.text-grey3 {
  color: $grey3;
}

.text-grey4 {
  color: $grey4;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.bg-color-pink1 {
  background-color: $pink1;
}

.bg-color-pink2 {
  background-color: $pink2;
}

.bg-color-pink3 {
  background-color: $pink3;
}

.bg-color-pink4 {
  background-color: $pink4;
}

.bg-color-blue1 {
  background-color: $blue1;
}

.bg-color-blue2 {
  background-color: $blue2;
}

.bg-color-blue3 {
  background-color: $blue3;
}

.bg-color-blue4 {
  background-color: $blue4;
}

.bg-color-red1 {
  background-color: $red1;
}

.bg-color-red2 {
  background-color: $red2;
}

.bg-color-red3 {
  background-color: $red3;
}

.bg-color-red4 {
  background-color: $red4;
}

.bg-color-green1 {
  background-color: $green1;
}

.bg-color-green2 {
  background-color: $green2;
}

.bg-color-green3 {
  background-color: $green3;
}

.bg-color-green4 {
  background-color: $green4;
}

.bg-color-orange1 {
  background-color: $orange1;
}

.bg-color-orange2 {
  background-color: $orange2;
}

.bg-color-orange3 {
  background-color: $orange3;
}

.bg-color-orange4 {
  background-color: $orange4;
}

.bg-color-yellow1 {
  background-color: $yellow1;
}

.bg-color-yellow2 {
  background-color: $yellow2;
}

.bg-color-yellow3 {
  background-color: $yellow3;
}

.bg-color-yellow4 {
  background-color: $yellow4;
}

.bg-color-grey1 {
  background-color: $grey1;
}

.bg-color-grey2 {
  background-color: $grey2;
}

.bg-color-grey3 {
  background-color: $grey3;
}

.bg-color-grey4 {
  background-color: $grey4;
}

.bg-color-white {
  background-color: $white;
}

.bg-color-black {
  background-color: $black;
}