$box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 15px;

.border-radius-small {
  border-radius: $border-radius-small;
}

.border-radius-medium {
  border-radius: $border-radius-medium;
}

.border-radius-large {
  border-radius: $border-radius-large;
}

.box-shadow {
  box-shadow: $box-shadow;
}

.smooth-hover-transition {

  &:hover {
    transition: .2s ease all;
  }
}